@import "tailwindcss";

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.1s ease-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920; /* variable 지원 범위 */
  font-style: normal;
  font-display: swap;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
}
.text-black-custom {
  /* 기본 텍스트 색상 */
  color: #333333;
}
.text-gray-custom {
  /* 기본 텍스트 색상 */
  color: #6b7280;
}

.custom-Input {
  /*기본 인풋 박스*/
  @apply border border-gray-300 placeholder-gray-300  px-4 py-2 lg:w-full h-fit rounded-sm mt-2;
}

/*
*버튼 디자인*/

.blue-button {
  /*기본 블루 버튼*/
  @apply py-2 text-sm bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors cursor-pointer;
}

.blue-button2 {
  @apply bg-blue-600 hover:bg-blue-700 transition-colors text-white px-4 py-2 rounded-md w-full cursor-pointer;
}

.blue-button2.loading {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
  pointer-events: none; /* 클릭 막기 */
}

.white-button {
  /*기본 흰색 버튼*/
  @apply px-4 py-2 text-blue-700 border bg-white border-blue-700 rounded-[8px] hover:bg-blue-700 hover:text-white transition-colors cursor-pointer;
}

.white-button.loading,
.white-button:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
  pointer-events: none; /* 클릭 막기 */
}

.custom-button {
  /* 작은 흰색 버튼*/
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #d9d9d9;
  border-radius: 20rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  width: max-content;
  height: fit-content;
  font-size: 12px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2b7fff;
  color: #ffffff;
  border-color: #2b7fff;
}

/*
*기본 흰색 박스*/
.custom-box {
  @apply basis-[30%] bg-white border rounded-xl border-gray-200 p-4 text-[#333333] text-[14px] font-medium;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/*
* 프로필 수정 페이지용 섹션 박스*/
.custom-box2 {
  @apply bg-white border rounded-xl border-gray-200 text-[#333333] text-[14px];
  will-change: transform;
}

/*타이틀*/
.custom-box2-title {
  @apply w-full bg-[#EEF2FF] h-[60px] rounded-t-xl font-semibold text-[16px] flex items-center p-5;
}

/*타이틀 앞쪽 아이콘*/
.custom-box2-icon {
  @apply bg-white rounded-lg p-1 mr-3;
}

.custom-box2-title2 {
  @apply w-full bg-[#FCE7F3]
 h-[60px] rounded-t-xl font-semibold  text-[16px] flex items-center p-5;
}

/*마이페이지 확인 버튼*/
.custom-outline-button {
  @apply w-fit px-4 py-2 text-[#2B7FFF] border border-[#2B7FFF] rounded-[8px] hover:bg-[#2B7FFF] hover:text-white transition-colors cursor-pointer;
}

.hover_start_button {
  @apply transition-all duration-300 ease-in-out cursor-pointer;
}

.hover_start_button:hover {
  @apply bg-gradient-to-r from-yellow-400 to-orange-500 shadow-2xl translate-y-1 shadow-yellow-400/30;
}

.text-grey-tag {
  /* 마이페이지 태그 */
  background-color: #f3f4f6;
  width: fit-content;
  height: fit-content;
  border-radius: 50rem;
  color: #333333;
  padding: 3px 10px;
  font-size: 12px;
}

/* 수정벌 추천 페이지 */
.card-section {
  @apply w-full  bg-white/90 p-6 sm:p-8 rounded-2xl  text-gray-800 space-y-6;
}

/*질병진단 페이지*/
.card-section-2 {
  @apply min-h-screen w-full bg-white/90  rounded-2xl shadow-xl text-gray-800 space-y-6;
}

/*
*auth 용 디자인
*/
.auth-input {
  /*auth 인풋 박스*/
  @apply border border-[#E2E5EB] rounded-md h-8;
}

.auth-label {
  /*auth 인풋 라벨*/
  @appply "mb-1 text-sm font-medium ";
}

/*투명 스크롤바 디자인*/
/* 기본 상태: 스크롤바 투명 */
.scrollbar-hide::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  opacity: 0;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* hover 시: 스크롤바 보이게 */
.group:hover::-webkit-scrollbar {
  opacity: 1;
}

.group:hover::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /*blue-500*/
  border-radius: 4px;
}

@layer components {
  /* 카드 상단 배경 */
  .card-top {
    @apply bg-[#EEF2FF] rounded-t-xl;
  }

  /* 카드 그림자 */
  .shadow-custom {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  /* 카드 타이틀 */
  .card-title {
    @apply text-lg font-medium text-[#333333];
  }

  /* 주의사항 박스 */
  .warning {
    @apply p-5 bg-[#FFFBEB] rounded-xl h-[134px] flex;
  }

  /* 주의사항 타이틀 */
  .warning-title {
    @apply text-[#92400E] font-normal;
  }

  /* 주의사항 리스트 */
  .warning-list {
    @apply text-[#6B7280] text-sm font-normal mt-2 list-disc list-inside space-y-1;
  }

  /* 상품 정보 입력 영역 */
  .product-title {
    @apply w-full flex flex-row items-center mt-10 mb-2;
  }

  /* 이미지 업로드 버튼 */
  .upload-button {
    @apply w-25 h-25 flex flex-col items-center justify-center rounded-md border-2 border-dashed border-[#E2E5EB] cursor-pointer;
  }

  /* 인풋 박스 */
  .add-input {
    @apply w-full h-10 rounded-md border border-[#E2E5EB] px-4 text-[#333333];
  }

  /* 등록 버튼 */
  .submit-button {
    @apply w-1/4 h-10 bg-blue-500 text-white rounded-md mt-5 flex items-center justify-center cursor-pointer;
  }
}

/* 작물정보 인풋 박스*/
.crop-input-box {
  @apply border w-full border-[#ececec] p-2 mb-2 rounded;
}

.inner-shadow-svg {
  filter: url(#inner-shadow);
  color: white;
  font-weight: bold;
}

.inner-shadow-fake {
  background: white;
  color: transparent;
  text-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

/*챗봇 열기 모션*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}

/* 공통 벌 스타일 */
.bee {
  position: absolute;
  font-size: 2.5rem;
  transition: transform 0.2s ease;
  will-change: transform;
  transform: translateZ(0);
}

/* 벌 1 경로 */
@keyframes fly-path-1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1000px, -20px) rotate(25deg);
  }
  50% {
    transform: translate(-50px, 15px) rotate(-15deg);
  }
  75% {
    transform: translate(20px, -10px) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* 벌 2 경로 */
@keyframes fly-path-2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(150px, -10px) rotate(20deg);
  }
  50% {
    transform: translate(250px, 20px) rotate(-30deg);
  }

  80% {
    transform: translate(100px, 10px) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) rotate(-10deg);
  }
}

/* 벌 3 경로 */
@keyframes fly-path-3 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(40px, -25px) rotate(20deg);
  }
  50% {
    transform: translate(-70px, 20px) rotate(-20deg);
  }
  70% {
    transform: translate(30px, -25px) rotate(15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* 공통 투명도 펄스 */
@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.fly-1 {
  animation: fly-path-1 12s ease-in-out infinite 0s,
    pulse-opacity 6s ease-in-out infinite 0s;
}

.fly-2 {
  animation: fly-path-2 10s ease-in-out infinite 2s,
    pulse-opacity 2s ease-in-out infinite 1s;
}

.fly-3 {
  animation: fly-path-3 16s ease-in-out infinite 1s,
    pulse-opacity 7s ease-in-out infinite 0.5s;
}
